dy, div, span, p, h1, h2, h3, h4, h5, h6, … { 
	    margin: 0; 
	        padding: 0; 
		    border: 0 none; 
		        outline: 0; 
			    font-size: 100%; 
			        vertical-align: baseline; 
				    background: transparent; 
				        text-decoration: none; 
				} 
